@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior:auto;
}

.header-link:hover {
  -webkit-text-stroke: 1px !important;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(184, 81, 224, 0.24) 0%,
    rgba(235, 72, 155, 0.24) 100%
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.box-border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 51px;
  min-width: 50px;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(
    204.52deg,
    #ffffff 11.72%,
    rgba(255, 255, 255, 0) 95.7%
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.bg-img {
  background-image: url(../assets/images/hero-bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1024px) {
  .rfm-marquee-container {
    gap: 32px;
  }
}

.most-popular-badge {
  width: 103px;
  height: 24.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.11px;
  border-radius: 29.12px;
  border: 1px solid #b851e0;
  padding: 4.6px 5.11px;
  background: linear-gradient(
    180deg,
    rgba(184, 81, 224, 0.12) 0%,
    rgba(235, 72, 155, 0.12) 100%
  );
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.box:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(184, 81, 224, 0.24) 0%,
    rgba(235, 72, 155, 0.24) 100%
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.gradient-border {
  position: relative;
  background-color: rgba(230, 73, 162, 0.03);
  border-radius: 16px;
  overflow: hidden;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(184, 81, 224, 0.2),
    rgba(235, 72, 155, 0.2)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.swiper-slide {
  transition: all 0.5s ease;
  opacity: 0.5;
}

.swiper-slide-active {
  opacity: 1 !important;
  filter: blur(0px) !important;
}

.ready-box-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(184, 81, 224, 0.2) 0%,
    rgba(235, 72, 155, 0.2) 100%
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.even-card {
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(16px);
  box-shadow: 0px 8px 24px 0px #42e8e014;
  transition: transform 0.3s ease;
  border-radius: 20px;
  z-index: 2;
  width: 100%;
}

.even-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(184, 81, 224, 0.5),
    rgba(235, 72, 155, 0.5)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
}

.even-card > * {
  position: relative;
  z-index: 2;
  background-color: #000;
  border-radius: 19px;
}

.even-btn {
  background: linear-gradient(180deg, #b851e0 0%, #eb489b 100%);
  color: white !important;
  border: none !important;
  border-radius: 65px;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(to bottom, #b851e0, #eb489b);
}

@media (min-width: 640px) {
  .even-card {
    transform: scale(1.05);
  }
}
